.list{
    width: 200px;
    padding: 10px;
    border: 1px solid greenyellow;
    border-radius: 5px;
}
.item{
    display: grid;
    transition: all .5s;
    user-select: none;
    background: #cccccc;
}